


// 文本

.text-limit1 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
// 定义继承样式
%text-limit {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: initial;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

@for $i from 2 through 5 {
	.text-limit#{$i} {
		@extend %text-limit;
		-webkit-line-clamp: $i;
	}
 //  .text-fixed#{$i}{
	// 	height:12 * $i +rpx;
	// 	@extend %text-limit;
	// 	-webkit-line-clamp: $i;
	// }
}
